# Ignore all files and folders
*

# Except
!Brewfile
!.zshrc
!.wezterm.lua

# NVIM
!nvim/
!nvim/**/*

# TMUX
!tmux/
!tmux/**/*

# KARABINER
!karabiner/
!karabiner/karabiner.json

# BORDERS
!borders/
!borders/**/*

# Install scripts
!mac-install.sh

# RAYCAST 
!raycast/
!raycast/**/*

# Ignore tmux/plugins
tmux/plugins/
nvim/plugin/packer_compiled.lua
