# Ignore all files and folders
*

# Except
!Brewfile
!.zshrc
!.wezterm.lua

# NVIM
!nvim/
!nvim/**/*

# TMUX
!tmus/
!tmux/**/*

# AEROSPACE
!aerospace/
!aerospace/**/*

# KARABINER
!karabiner/
!karabiner/**/*

# Ignore tmux/plugins
tmux/plugins/
nvim/plugin/packer_compiled.lua
